/*--------- common styles------------  */
/* work sans font from google */
body {
    font-family: "Work Sans", sans-serif;
}

.text-color {
    color: #FF42A5;
}

.text-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-title {
    font-size: 3rem;
    font-weight: 700;
}

.text-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    padding: 20px 40px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn-secondery {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 40px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

/*--------- header styles--------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 240px;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 32px;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.gamer-zone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gamer-zone img {
    width: 87px;
    height: 40px;
}

.nav-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700
}

.btn-gray {
    border: 0;
    color: #3C354F;
    font-size: 1.15rem;
    font-weight: 500;
    transition: background 5s ease-in-out;
}

.btn-gray:hover {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px;


}

.fa-youtube {
    color: #F61C0D;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-tiktok {
    color: #406663;
}

/*---------- banner styles-------- */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 0 240px;

}



.play-title {
    color: #0B0223;
    font-size: 3rem;
    margin-bottom: 24px;
}

.banner-title {
    font-size: 5.9rem;
    font-weight: 800;

}

.banner-img img {
    width: 100%;
    height: 100%;

}

.fa-circle-play {
    color: #FF42A5;
}

.fa-arrow-down {
    color: #FF42A5;
}

.fa-user-group {
    color: #0B0223;
    width: 20px;
    height: 20px;
}

/*----------- main styles start ----------- */
main {
    max-width: 1920px;
    margin: 0 auto;
}

/* ---------gamer styles -------- */
.gamer-container {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 90px 240px;
}

.gamer-img img {
    height: 100%;
}

.gamer-content {
    text-align: end;
    padding-left: 52px;
}

.gamer-content .text-title {
    margin-bottom: 24px;
}

.gamer-content .text-description {

    margin-bottom: 32px;
}

.purpose {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

/*--------- online-games styles -------- */
.online-games {
    text-align: center;
    margin-top: 120px;
}

.online-games-container {
    display: flex;
    gap: 24px;
    margin: 48px 240px 0px 240px;
}

.online-games .text-title {
    margin-bottom: 5px;
}

.card {
    position: relative;
    bottom: 465px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF42A5;
    font-size: 2rem;
    opacity: 0;


}

.card .fa-circle-play {
    color: #FFF;

}

.card h4 {
    margin-top: 24px;
}

.card-color:hover {
    background-color: rgba(0, 0, 0, 0.5);
    width: 340px;
    height: 390px;
    border-radius: 10px;
}

.card:hover {
    opacity: 1;
    transform: translateY(1.5px);

}

/*---------- play styles ------------- */
.play-container {
    display: flex;
    align-items: center;
    gap: 260px;
    margin: 0px 240px 0px 300px;


}

.play-content {
    text-align: right;
    margin-bottom: 335px;
}

.play-angel {
    position: relative;
    bottom: 300px;
    right: 180px;
}

/*---------------- play games styles -------------- */
.play-games-container {
    display: flex;
    align-items: center;
    gap: 230px;
    margin: 0px 230px;
}

.play-games-content {
    text-align: left;
    margin-bottom: 335px;
}

.play-games-angel {
    position: relative;
    bottom: 250px;
    left: 550px;
}

/* -----------gamer-icon styles -------------- */
.gamer-icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 0px 240px;
    margin-top: 0px;
}

.gamer-icon {
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: transform 1s linear;
}


.gamer-icon:hover {
    border: 1.5px solid #FF42A5;
    background-color: white;
    padding: 10px;
    transform: translateX(5px);
}

.gamer-icon-title {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 15px;
}

/*------------- footer styles -------------- */
footer {
    background: #0B0223;
    margin-top: 110px;
}

.footer {
    padding: 120px 500px;
    text-align: center;
}

.white {
    color: #FFF;
}

.footer>ul {
    display: flex;
}

.footer li {
    list-style: none;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer li a {
    text-decoration: none;
    color: #FFF;

}

/*---------------- media query----------------------- */
/*--------- small device ---------- */
@media screen and (max-width:576px) {

    nav,
    nav>ul,
    .gamer-container,
    .online-games-container,
    .play-container,
    .footer>ul {
        flex-direction: column;
    }

    nav,
    .online-games-container,
    .play-container,
    .gamer-icon-container,
    .play-games-container {
        margin: 0;
    }

    nav li {
        margin-top: 30px;
    }

    .banner-container,
    .gamer-container,
    .footer {
        padding: 20px;

    }

    .banner-container,
    .play-games-container {
        flex-direction: column-reverse;
        background-image: none;
        box-shadow: none;
    }

    .gamer-container {
        background: none;
    }

    .gamer-content {
        text-align: center;
        padding-left: 10px;
    }

    .gamer-img img,
    .play-img img,
    .play-angel img {
        width: 100%;
    }

    .play-games-angel img,
    .play-games-img img {
        width: 100%;
        height: 100%;
    }

    .play-container,
    .play-games-container {
        gap: 20px;
    }

    .play-content,
    .play-games-content {
        margin-bottom: 0px;
    }

    .gamer-icon-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .play-games-content {
        margin-top: 0px;
    }

    .play-games-angel {
        position: static;

    }
}

/*----------------- medium device -------------- */

@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .gamer-container,
    .online-games-container,
    .play-container {
        flex-direction: column;
    }

    nav,
    .play-container,
    .gamer-icon-container {
        margin: 0;
    }

    nav li {
        margin-top: 30px;
    }

    .banner-container,
    .play-games-container {
        flex-direction: column-reverse;
        background-image: none;
        box-shadow: none;
    }

    .banner-container,
    .gamer-container {
        padding: 10px;

    }

    .gamer-container {
        background: none;
    }

    .gamer-content {
        text-align: center;
        padding-left: 10px;
    }

    .play-container,
    .play-games-container {
        gap: 20px;
    }

    .play-content {
        margin-bottom: 0px;
    }

    .gamer-icon-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer {
        padding: 20px;
    }
}